body {
    display: flex;
    justify-content: center;
}

#mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#container {
    box-shadow: 0 0 2rem rgb(166, 172, 180);
    height: 250px;
    width: 300px;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(0, 98, 255);
    margin-top: 50px;
    height: 70px;
    width: 320px;
    border-radius: 0.6rem;
}

.btnBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 290px;
    margin-top: 50px;
}

.btn{
    height: 35px;
    width: 80px;
    border-radius: 0.6rem;
    background-color: rgb(182, 192, 210);
    color: rgb(0, 98, 255);
    font-weight: lighter;
    border: none;
    box-shadow: 0 0 0.2rem lightgrey;
}

.resetBtn{
    color: white;
    background-color: rgb(0, 98, 255);
}

/* Responsive  */
@media (max-width: 480px) {
  #container {
    width: 90%;
    height: auto;
    padding-bottom: 20px;
  }

  .timerBox {
    width: 100%;
    font-size: 1.6rem;
  }

  .btnBox {
    width: 100%;
    gap: 10px;
    padding: 0 10px;
  }

  .btn {
    width: 70px;
    height: 35px;
  }
}
